<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.forbes.dal.mapper.MchInfoMapper" >
  <resultMap id="BaseResultMap" type="org.forbes.dal.entity.MchInfo" >
    <!-- 主键 -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <!-- 创建时间 -->
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <!-- 更新人 -->
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <!-- 更新时间 -->
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <!-- 商户ID -->
    <result column="mch_id" property="mchId" jdbcType="VARCHAR" />
    <!-- 名称 -->
    <result column="name" property="name" jdbcType="VARCHAR" />
    <!-- 类型 -->
    <result column="type" property="type" jdbcType="VARCHAR" />
    <!-- 请求私钥 -->
    <result column="req_key" property="reqKey" jdbcType="VARCHAR" />
    <!-- 响应私钥 -->
    <result column="res_key" property="resKey" jdbcType="VARCHAR" />
    <!-- 商户状态,0-停止使用,1-使用中 -->
    <result column="state" property="state" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_by, create_time, update_by, update_time, mch_id, name, type, req_key, 
    res_key, state
  </sql>
</mapper>