<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.forbes.dal.mapper.MchNotifyMapper" >
  <resultMap id="BaseResultMap" type="org.forbes.dal.entity.MchNotify" >
    <!-- 主键 -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <!-- 创建时间 -->
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <!-- 更新人 -->
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <!-- 更新时间 -->
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <!-- 订单ID -->
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <!-- 商户ID -->
    <result column="mch_id" property="mchId" jdbcType="VARCHAR" />
    <!-- 商户订单号 -->
    <result column="mch_order_no" property="mchOrderNo" jdbcType="VARCHAR" />
    <!-- 订单类型:1-支付,2-转账,3-退款 -->
    <result column="order_type" property="orderType" jdbcType="VARCHAR" />
    <!-- 通知地址 -->
    <result column="notify_url" property="notifyUrl" jdbcType="VARCHAR" />
    <!-- 通知次数 -->
    <result column="notify_count" property="notifyCount" jdbcType="TINYINT" />
    <!-- 通知响应结果 -->
    <result column="result" property="result" jdbcType="VARCHAR" />
    <!-- 通知状态,1-通知中,2-通知成功,3-通知失败 -->
    <result column="status" property="status" jdbcType="TINYINT" />
    <!-- 最后一次通知时间 -->
    <result column="last_notify_time" property="lastNotifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_by, create_time, update_by, update_time, order_id, mch_id, mch_order_no, 
    order_type, notify_url, notify_count, result, status, last_notify_time
  </sql>
</mapper>